@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.link__hello,
.header__link,
.btn {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.btn {
  border-radius: 3px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::after,
* ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

body a {
  color: inherit;
  text-decoration: none;
}

body img {
  width: 100%;
  height: 100%;
}

.conteiner {
  margin: 0 auto;
  width: 1328px;
}

.conteiner--ready {
  text-align: center;
}

.conteiner--shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  border: 1px solid;
  width: 114px;
  height: 42px;
  outline: none;
  font-family: inherit;
}

.home {
  position: relative;
  margin-bottom: 63px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 72px;
}

.header__logo {
  width: 80px;
  height: 24px;
}

.header__link {
  margin: 0 20px;
  color: #3F3B3D;
}

.header__link:hover {
  background: #DDDBDA;
  background-size: 114px 42px;
}

.header__btn {
  background-color: #DDDBDA;
  border: 1px solid #DDDBDA;
}

.header__btn:hover {
  background-color: #fff;
}

.hello {
  position: relative;
  height: 482px;
  background: #3F3B3D;
  padding: 65px;
}

.hello__photo {
  position: absolute;
  top: -80px;
  bottom: 0;
  right: 0;
}

.hello__head {
  position: absolute;
  bottom: 65px;
  left: 65px;
}

.hello__title {
  width: 370px;
  color: #fff;
  font-size: 33px;
  margin-bottom: 30px;
}

.hello__btn {
  display: inline-block;
  width: 178px;
  height: 45px;
  background-color: #F14814;
  border: 1px solid #F14814;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 17.5px;
}

.hello__btn:hover {
  background-color: #3F3B3D;
}

.link__hello {
  color: #fff;
  margin-left: 17.5px;
}

.link__hello:hover {
  text-decoration: underline;
}

.ready {
  color: #3F3B3D;
}

.ready__title {
  font-size: 12px;
  color: #F14814;
  margin-bottom: 25px;
}

.ready__dest {
  width: 700px;
  margin: 0 auto;
  font-size: 27px;
  margin-bottom: 80px;
}

.holder--ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 133px;
}

.card__photo {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.card__title {
  font-size: 21px;
}

.card__dest {
  font-size: 15px;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8px;
}

.shop {
  margin-bottom: 28px;
}

.shop__photo {
  position: relative;
  width: 33%;
  height: 360px;
}

.shop__photo img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shop__photo--big {
  width: 49%;
  height: 477px;
  position: relative;
}

.shop__photo--big img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.shop__title {
  font-size: 39px;
  color: #DEDEDC;
}

.shop__dest {
  font-size: 14px;
  color: #DEDEDC;
}

.dest {
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 30%;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px;
}

.description__name {
  text-transform: uppercase;
  font-size: 12px;
}

.description__price {
  font-size: 12px;
}

.description--position::before {
  position: absolute;
  content: "";
  width: 95%;
  height: 1px;
  background-color: #DEDEDC;
  top: 10px;
  left: 9px;
  right: 9px;
}

.big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story {
  padding-top: 135px;
  background-color: #F8F9FA;
}

.story__title {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.quotation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 130px;
}

.quotation__photo {
  width: 50%;
  height: 536px;
  margin: 4px;
}

.quotation__blockquote {
  width: 50%;
  height: 536px;
  margin: 4px;
  background: #DCEAE9;
  background-size: 100% 100%;
  position: relative;
}

.quotation__blockquote blockquote {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 10%;
  width: 408px;
}

.quotation__blockquote blockquote p {
  font-size: 24px;
}

.sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3F3B3D;
}

.sponsor__card {
  text-align: center;
}

.sponsor__card p {
  width: 214px;
}

.icon-walden,
.icon-arial,
.icon-cleo,
.icon-petsplay {
  font-size: 40px;
}