//conections
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// colors
$header__link: #3F3B3D;
$header__btn: #DDDBDA;
$hello__bg: #3F3B3D;
$hello__btn: #F14814;
$ready__title: #F14814;
$ready__font: #3F3B3D;
$height: 360px;

//extend
%transition {
    transition: .3s all ease-in-out;
}

%border_radius {
    border-radius: 3px;
}