@import 'color/varaibles';

* {
    box-sizing: border-box;

    ::after, ::before {
        box-sizing: border-box;
    } 
}

body {
    margin: 0;
    font-family: 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
    font-weight: 400;

    a {
        color: inherit;
        text-decoration: none;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.conteiner {  
    margin: 0 auto;  
    width: 1328px;
} 

.btn {
    border: 1px solid;
    width: 114px;
    height: 42px;
    outline: none;
    font-family: inherit;
    @extend %transition;
    @extend %border_radius;
}

.home {
    position: relative;
}

.header {
    display: flex;
    height: 82px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;

    &__logo {
        width: 80px;
        height: 24px;
    }

    &__link {
        margin: 0 20px;
        color: $header__link;
        @extend %transition;
    }

    &__link:hover {
        background: $header__btn;
        background-size: 114px 42px;
    }

    &__btn {
        background-color: $header__btn;
        border: 1px solid $header__btn;
    }

    &__btn:hover {
        background-color: #fff;
    }
}

.hello {
    position: relative;
    height: 482px;
    background: $hello__bg;
    padding: 65px;

    &__photo {
        position: absolute;
        top: -80px;
        bottom: 0;
        right: 0;
    }

    &__head {
        position: absolute;
        bottom: 65px;
        left: 65px;
    }

    &__title {
        width: 370px;
        color: #fff;
        font-size: 33px;
        margin-bottom: 30px;
    }

    &__btn {
        display: inline-block;
        width: 178px;
        height: 45px;
        background-color: $hello__btn;
        border: 1px solid $hello__btn; 
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        margin-right: 17.5px;
    }
}

.link__hello {
    color: #fff;
    margin-left: 17.5px;
}

// .icon-walden:before {
// content: "\e900";
// }
// .icon-arial:before {
// content: "\e901";
// }
// .icon-cleo:before {
// content: "\e902";
// }
// .icon-petsplay:before {
// content: "\e903";
// }
  